@import "bootstrap_variables";
@import "~bootstrap/scss/bootstrap";
@import "module_variables";
@import "module/module";

.little {
  padding-top: 50px;
  &__title {
    text-align: center;
  }
  &__in {
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: $global-width;
  }
}

.full {
  width: 100%;
}

html, body {
  width: 100%;
  height: 100%;
}
