@import "bootstrap_variables";
@import "~bootstrap/scss/bootstrap";
@import "module_variables";
@import "module/module";

#wrapper {
  padding-bottom: 50px;
}

#header {
  min-width: $global-width;

  &, a {
    color: rgba(#000, 0.8);
  }

  background: #333;
  padding: 30px 50px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  #header-logo {
    font-size: 2.8rem;
    color: #fff;
  }

  .header-nav {
    &__links {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-end;
      a {
        color: #fff;
      }

      & > * {
        margin-left: 15px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

#container {
  @include container();
  margin-top: 50px;
}

.container {
  &__title {
    text-align: center;
  }
  &__in {
    padding-top: 50px;
  }
}
